# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data and logs
/data
*.json
elasticsearch-data/
elasticsearch-8.12.1/

# Project specific
.cursorignore