<!--Template for displaying info on a single medication-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Medication Interaction Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <span style="float: left">
                <a href="/">Medication Interaction Checker</a>
            </span>
            <span style="float: right">
                <a href="/disclaimer/">disclaimer</a>
            </span>
        </nav>
    </header>

</body>
</html>